.imgresponsive{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  height: 100%;
  border-radius: 5px; 
}
body {
  font-family: Helvetica;
  background-color:#1B3DA6;
}

.mobile-container {

  background-color: white;
  height: 3200px;
  color: black;
  border-radius: 10px;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  background: #1B3DA6;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a:hover {
  background-color: #5990D9 ;
  color: #1B3DA6;
}

.active {
  background-color: #5990D9;
  color: #1B3DA6;
}