/* This is a CSS file */
.Ensolarado{
  width: 100px;
  height: 35px;
  border-color: white;
  border-radius: 20px;
  background-color: #82D98F;
  color: white;
  font-family: Helvetica;

}
.Nublado{
  width: 100px;
  height: 35px;
  border-color: white;
  border-radius: 20px;
  background-color: #82D98F;
  color: white;
  font-family: Helvetica;

}
.Chuvoso{
  width: 100px;
  height: 35px;
  border-color: white;
  border-radius: 20px;
  background-color: #82D98F;
  color: white;
  font-family: Helvetica;

}
.imgresponsive{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  height: 85%;
  border-radius: 5px; 
}
.imgresponsive2{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  height: 85%;
  border-radius: 5px; 
}
body {
  font-family: Helvetica;
  height: 100vh;
  background-color: #14A653;
}

.mobile-container {

  background-color: white;
  height: 4000px;
  color: black;
  border-radius: 10px;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  background: #14A653;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a:hover {
  background-color: #82D98F;
  color: #14A653;
}

.active {
  background-color: #82D98F;
  color: #14A653;
}







/* select */





.custom-select {
  position: relative;
  font-family: Arial;
  margin-left: 20%;
  margin-top: 10%;
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  background-color: #82D98F;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: #82D98F;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}